# Віртуальне середовище
venv/
.venv/

# Дані та Бази даних
data/
*.db
*.sqlite
*.sqlite3
*.db-journal

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Налаштування середовища (Секрети)
.env
app/config/token.json
app/config/credentials.json

# Налаштування IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log